<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <script type="text/javascript" src="sources.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
</head>
<body>
        <header>
            <div class="navBar">
                <div class="nav_wrapper">
                    <div class="nav_left">
                        <input type="checkbox" id="check">
                        <label  for="check">
                            <i class="fa fa-bars" id="open" style="font-size:18px"></i>    
                            <i class="fa fa-times" id="cancel" style="font-size:18px"></i> 
                        </label>
                        <div id="menu_bar">
                            <header><a href="/login/dashboard"><i class="fa fa-user-circle"></i>Your account</a></header>
                            <ul>
                                <li><a href="#"><i class="fa fa-qrcode"></i>Best Sellers</a></li>
                                <li><a href="#"><i class="fa fa-truck"></i>Delivery</a></li>
                                <li><a href="/product"><i class="fa fa-shopping-basket"></i>Products</a></li>
                                <li><a href="#"><i class="fa fa-gift"></i>Promotion</a></li>
                                <li><a href="#"><i class="fa fa-sliders"></i>Services</a></li> 
                                <li><a href="#"><i class="fa fa-question-circle"></i>Help</a></li>	
                                <li><a href="#"><i class="fa fa-envelope"></i>Contact</a></li>
                            </ul>
                        </div>
                    
                        <div id="nav-logo">
                            <a href="/" class="logo-links" aria-label="Amazon.ca">
                                <img src="img/amazonLogo.png" alt="logo amazon">
                            </a>
                        </div>
                        <div class="nav-upperleft-right">
                            <ul>
                                <li><a href="/"><span>About us</span></a>
                                </li>
                                <li> <a href="/"><span>Order&amp;Delivery</span></a>
                                </li>
                                <li>
                                    <a href="/product">
                                        <i class="fa fa-shopping-cart" style="font-size:36px;color:rgb(207, 223, 221)"></i>
                                    </a>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                    
                    <div class="search-nav-wrapper">
                        <hr noshade>
                            <form action="/action_page.php">
                                <input type="text"  placeholder="Search for items..." name="search">
                                <button type="submit"><i class="fa fa-search" style="color:black"></i></button>
                            </form>
                             <hr noshade>
                    </div>
                   
                    <div class="nav_right">
                        <nav>
                            <ul>
                                <li class="navigationBar_Element">        
                                    <a href="/" title="Home">
                                        Home
                                    </a>  
                                </li>
                                <li class="navigationBar_Element"> 
                                    <a href="/cus_regis" title="Sign up">
                                        Register
                                    </a>
                                </li>
                                <li class="navigationBar_Element">
                                    <a href="/login" title="Sign in">
                                        Login
                                    </a>
                                </li>
                                <li class="navigationBar_Element">
                                    <a href="/product" title="Cart">
                                       Products
                                    </a>
                                </li>
                                <li class="navigationBar_Element">
                                    <a href="/product" title="Cart">
                                       Hot Deals
                                    </a>
                                </li>
                                <li class="navigationBar_Element">
                                    <a href="/product" title="Cart">
                                       Video
                                    </a>
                                </li>
                                <li class="navigationBar_Element">
                                    <a href="/product" title="Cart">
                                       Music
                                    </a>
                                </li>
                                <li class="navigationBar_Element">
                                    <a href="/product" title="Cart">
                                       Books
                                    </a>
                                </li>
                                <li class="navigationBar_Element">
                                    <a href="/product" title="Cart">
                                       Tech
                                    </a>
                                </li>
                                <li class="navigationBar_Element">
                                    <div class="daily-deals">
                                        <a href="#" > 
                                            <h2><i class="fa fa-gift" style="font-size:24px"></i>                               Today's Deals</h2>
                                        </a>
                                   <div>                             
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
            
             
        </header>
        <main>
           {{{body}}}
        </main>
        <div class="toTop">
            <a href="#top">
                <i class="fa fa-angle-double-up" style="font-size:24px"></i>
            </a>
        </div>
        <footer>
            <div class="nav_footer_above">
                    <div class="nav_footer_sec nav_footer_sec1">
                        <div class="navFooterColHead">Get to Know Us</div>
                        <ul>
                            <li class="nav_first"><a href="https://www.amazon.jobs" class="nav_a">Careers</a></li>
                            <li><a href="/" class="nav_a">Amazon and Our Planet</a></li>
                            <li><a href="https://www.amazon.ca/ir" class="nav_a">Investor Relations</a></li>
                            <li class="nav_last"><a href="https://www.amazon.ca/pr" class="nav_a">Press Releases</a></li>
                        </ul>
                    </div>
                    <div class="nav_footer_sec nav_footer_sec2">
                        <div class="navFooterColHead">Make Money with Us</div>
                        <ul>
                            <li class="nav_first"><a href="/" class="nav_a">Sell on Amazon</a></li>
                            <li><a href="https://accelerator.amazon.ca/?ref_=map_1_b2b_GW_FT" class="nav_a">Sell Under Amazon Accelerator</a></li>
                            <li><a href="https://associates.amazon.ca" class="nav_a">Amazon Associates</a></li>
                            <li><a href="/" class="nav_a">Sell on Amazon Handmade</a></li>
                            <li><a href="https://advertising.amazon.ca?ref_=a20m-hp-ft-ca" class="nav_a">Advertise Your Products</a></li>
                        </ul>
                    </div>                 
                    <div class="nav_footer_sec nav_footer_sec3">
                        <div class="navFooterColHead">Let Us Help You</div>
                        <ul>
                            <li class="nav_first"><a href="/" class="nav_a">Shipping Rates &amp; Policies</a></li>
                            <li><a href="/" class="nav_a">Amazon Prime</a></li><li><a href="/" class="nav_a">Returns Are Easy</a></li>
                            <li><a href="/" class="nav_a">Manage your Content and Devices</a></li>
                            <li class="nav_last"><a href="/" class="nav_a">Customer Service</a></li>
                        </ul>
                    </div>
                    {{!-- <div class="nav_footer_sec nav_footer_sec4">
                        <div class="navFooterColHead">Amazon Payment </div>
                        <ul>
                            <li class="nav_first"><a href="/" class="nav_a">Amazon.ca Rewards Mastercard</a></li>
                            <li><a href="/" class="nav_a">Shop with Points</a></li>
                            <li><a href="/" class="nav_a">Reload Your Balance</a></li>
                            <li><a href="/" class="nav_a">Gift Cards</a></li>
                            <li class="nav_last"><a href="/" class="nav_a">Amazon Cash</a></li>
                        </ul>
                    </div>   --}}
                    <div class="nav_footer_sec nav_footer_sec4">
                        <div class="navFooterColHead">Get to Know Us</div>
                        <ul>
                            <li class="nav_first"><a href="https://www.amazon.jobs" class="nav_a">Careers</a></li>
                            <li><a href="/" class="nav_a">Amazon and Our Planet</a></li>
                            <li><a href="https://www.amazon.ca/ir" class="nav_a">Investor Relations</a></li>
                            <li class="nav_last"><a href="https://www.amazon.ca/pr" class="nav_a">Press Releases</a></li>
                        </ul>
                    </div>
            </div>
            <div class="nav_footer_me">
                <ul>
                    <li class="link-footer link-footer1"><a href="/login" class="sign_in_link">Already have an account? Sign in</a></li>
                    <li class="link-footer link-footer2"><a href=/>Conditions of Use</a></li>
                    <li class="link-footer link-footer3"><a href="/">Privacy Notice</a></li>
                    <li class="link-footer link-footer4"><a href="/">Interest-Based Ads</a></li>
                    <li class="link-footer link-footer5">@HUU DUY DO, Web_Assignment_1</li>
                </ul>

            </div>
        </footer>     
</body>
</html>