<div align="center" class="form_container">
      <div class="sign-box">
        <form name="signIn" id="sign_form" method="POST" action="#">
          <h1 class="a-spacing-small" id="signin_title">Sign-In</h1>
          <label for="ap_email" class="a-form-label">E-mail address or mobile phone number</label>
          <br>
          <input type = "email" maxlength="128" id="ap_email" name= email required>
          <br>
          <input type = "password" maxlength="16" id="passWord" name= password required>
          <div id="condition" class="condition_regulation">
            By continuing, you agree to Amazon's <a href="#" style="color: blue;">Privacy Notice</a>.
          </div>
          <input type="submit" value="Login" style="text-align: center;background-color: #f0c14b;">
          <div class="question"><h5>New to Amazon?</h5></div>
          <br>
          <a href="/cus_regis" class="button_form" style="text-align: center;font-size: 10pt;text-decoration: underline">Create your amazon account</a>
        </form>
      </div>
    </div>