<h2 class= "banner_title" id = "bestSelling" style="color: cadetblue;">Shop by Category</h2>
    <div class="detail_product">
      <div class ="detail_product_category" style="width: 300px;float: left;">
        <h3>ELECTRONICS</h3>
        <ul>
          <li class="sub_category"><a href="#">Accessories & Supplies</a></li>
          <li class="sub_category"><a href="#">Camera, Photo & Video</a></li>
          <li class="sub_category"><a href="#">Car & Vehicle Electronics</a></li>
          <li class="sub_category"><a href="#">Cell Phones & Accessories</a></li>
          <li class="sub_category"><a href="#">Computers & Accessories</a></li>
          <li class="sub_category"><a href="#">eBook Readers & Accessories</a></li>
          <li class="sub_category"><a href="#">GPS & Navigation</a></li>
          <li class="sub_category"><a href="#">Headphones</a></li>
          <li class="sub_category"><a href="#">Home Audio</a></li>
          <li class="sub_category"><a href="#">Portable Audio & Video</a></li>
          <li class="sub_category"><a href="#">Radio Communication</a></li>
          <li class="sub_category"><a href="#">Security & Surveillance</a></li>
          <li class="sub_category"><a href="#">Telephones & Accessories</a></li>
          <li class="sub_category"><a href="#">Televisions & Video</a></li>
          <li class="sub_category"><a href="#">Wearable Technology</a></li>
        </ul>
      </div>
      
      <div class="detail_product_list_items" style="float: left;width: auto;max-width: 1000px;">
        <div class="grid-container_product_page" id="product_category">
            {{#each products}}
            <div class="grid-item listOf_items">  
                <div>
                    <a href="/"><img src="{{this.img}}" class="img_item"> </a>  
                    <div class="product_content">
                        <h4 class="title_item">{{this.title}}</h4>
                        <p class="price_item">{{this.price}}</p>
                        <p class="description_item">{{this.description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
      
      </div>
    </div>
  