*
{
    padding:0;
    margin:0;
    list-style: none;
    text-decoration: none;
}
header
{
    position: relative;
    height: auto;
    /* overflow: hidden; */
    background-color: #232F3E;
}
html, body
{
    /* font-size: 1.4rem; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7rem;
    /* grid-template-rows: auto 1fr auto; */
    height: 100%;
    position: relative;
    background-color: #e7e7ec;
}
.main-wrapper{
  overflow: auto;
  min-height: 100%;
}
main{
  padding-bottom: 200px;
}
footer
{
    background-color: #333;
    text-align: center;
    height: 200px;
    margin-top: -200px;
    clear: both;
    width: 100%;
    position: relative;
}
#navBar
{
  position: relative;
  top: 0;
  left: 0;
  display: grid;
  grid-gap: 5px;
  font-family: inherit;
}
.nav_upper{
    display:grid;
    grid-gap: 5px;
    padding:0;
    grid-template-columns: repeat(3,1fr);
}
.nav_left{
  height: 50px;
}
/******************* Menu Bar *******************/
#menu_bar {
  position: fixed;
  left: -300px;
  width: 300px;
  height: 100%;
  background: #042331;
  transition: all .5s ease;
  z-index: 1;
}
#menu_bar header {
  line-height: 70px;
  background: #063146;
}
#menu_bar header a {
  font-size: 22px;
  color: white;
  line-height: 70px;
  padding-left: 60px;
  background: #063146;
  user-select: none;
}
#menu_bar header a i {
  margin-right: 14px;
}
#menu_bar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 60px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: all .2s ease;
}

#menu_bar ul li:hover a{
  padding-left: 100px;
}
#menu_bar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #open,label #cancel{
  position: absolute;
  background: #1f3b47;
  border-radius: 3px;
  border: 1px solid rgb(49, 140, 143);
  /* box-shadow: 2px 2px 2px white; */
  cursor: pointer;
}
label #open{
  left: 5px;
  top: 7px;
  font-size: 22px;
  color: white;
  padding: 7px 11px;
  transition: all .5s ease;
}
label #cancel{
  z-index: 1111;
  left: -250px;
  top: 10px;
  font-size: 22px;
  color: #0a5275;
  padding: 7px 11px;
  transition: all .5s ease;
}
#check:checked ~ #nav-logo
{
    top: -195px;
    transition: 0s;
}
#check:checked ~ #menu_bar{
  left: 0;
}
#check:checked ~ label #open{
  left: -250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 250px;
}
/******************* End of Menu Bar *******************/

/******************* Logo *******************/
#nav-logo{
    position: relative;
    left: 50px; 
    background-color: transparent;
    padding: 2px 0 1px 0;
    height: 45px;
    width: 100px;
    display: inline-block;
}
a.logo-links > img {
    max-height: 100%;
    max-width: 100%;     
}
a.logo-links > img:hover {
  border-style: solid;
  border-width: 1px;
  border-color: ivory;
}
/*******************End Of Logo *******************/
.nav-upperleft-right{
  position: relative;
  float: right;
  padding: 5px 20px 0 0;
}
.daily-deals{
    font-family: "Amazon Ember",Arial,sans-serif;
    text-align: end;
    display: none;
}
.daily-deals a h2 
{
    font-size: 20px;
    color: white;
    margin-right:40px;
    margin-bottom: 16px;
		font-family: "ubuntu";
		text-transform: uppercase;
		font-weight: 700;
		font-family: "Josefin Sans", sans-serif;
		background: linear-gradient(to right, #e72a3a 10%, #fff 50%, #5bdaff 60%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 1.5s linear infinite;
		display: inline-block;
}
@keyframes textclip {
	to {
		background-position: 200% center;
	}
}
hr{
  position: relative;
}
/*******************Search Bar*******************/
.search-nav-wrapper {
  width: 100%;
  padding: 5px 0 5px 0;
}
.search-nav-wrapper form{
  display: flex;
}
.search-nav-wrapper input[type=text] {
  width: 78%;
  font-size: 17px;
  height: 20px;
  border-right: none;
  outline: none;
  margin-left: 10px;
  padding: 6px;
  border-radius: 5px 0 0 5px;
  color: rgba(251, 253, 253, 0.863);
}

.search-nav-wrapper button {
  width: 50px;
  border: 1px solid rgb(247, 247, 247);
  background: rgb(174, 206, 110);
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.search-nav-wrapper button:hover {
  background: #ccc;
}
/*******************End of Search Bar*******************/
div.nav_right > nav > ul
{
  overflow: auto;
  white-space: nowrap;
}
/*******************Main-Nav*******************/
/*Hide scrollbar but keep functionality - For Chrome, Safari, Opera*/
div.nav_right > nav > ul::-webkit-scrollbar
{
  display: none;
}

nav > ul > li{
  display: inline-block;
}
div.nav_right > nav > ul > li > a {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    list-style: none;
    transition: all .7s ease;
    text-align: center;
    font-weight: 500;
    cursor: pointer;    
    line-height: 25px;
    margin-top: -5px;
    padding: 10px;
    color:#ccc;
} 
nav > ul > li:hover {
    background-color: rgb(7, 100, 131);
    margin-right: 2px;
}
nav > ul > li > a 
{
    color:#fff;
    text-decoration: none;
    display: block;
}
/*******************End of Main-Nav*******************/



  
 

/*banner*/
.banner-wrapper-prime
{
  position: relative;
  padding: 0;
  background-color: #37475A;
}

.banner_title, #best_sell_heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 15px;
    padding: 5px 0 5px 30px;
    position: relative;
		text-transform: uppercase;
		font-weight: 700;
		background: linear-gradient(to right, #bcbe16 40%, rgb(233, 76, 14) 50%, #1eaeb3 60%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 3s linear infinite;
		display: inline-block;
}
/*******************Slide show*******************/
.slideshow-container {
    position: relative;
    margin: auto;
    left: 0;
    width: 100%;
  }
div.mySlides img
{
    width: 100%;
    /* object-fit: cover; */
}
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
/*******************End of Slide show*******************/

/*******************Product Category*******************/
  .category_container
  {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    position: relative;
    padding: 0 5px 0 5px;
    
  }
 .box{
    box-shadow: 0 1px 5px rgba(104,104,104,0.8);
    background: whitesmoke;
    text-align: center;
    padding: .5rem .5rem;
    
 }
 .box img{
   max-width: 100%;
 }
 .banner-wrapper-product{
  position: relative;
  padding: 0 0 5px 5px;
  overflow: hidden;
 }

 


  /* .container_category
{
  width: 1510px;
  height: 400px;
  position: relative;
  margin: 70px auto 0;
  top: 350px;
  left: 21px;
  margin: auto;
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
  display: none;
} */
/* .box
{
	position: relative;
  width: 349px;
  height: 380px;
	background: #fff;
  margin: 10px;
	box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
}
.imgBox
{
  padding: 10px 25px 25px 25px;
  margin-bottom: 15px;
  width: 300px;
	height: 250px;
	position: relative;
  overflow: hidden;
 
}
.container_category .box .imgBox img
{
	max-width: 100%;
  height: 300px;
  border-radius: 5px;
}
.container_category .box .imgBox img:hover
{
  transform: scale(1.25);
}
.container_category .box h3
{
  font-size: 18px;
  margin-left: 25px;
  margin-top: 10px;
}
.content
{
  margin-left: 25px;
  margin-right: 25px;
}
.productDescription
{
  font-size: 13px;
  line-height: 19px;
  overflow: hidden;
  color: #111;
  font-family: "Amazon Ember",Arial,sans-serif;
}
.content a{
  font-size: 12px;
  text-align: center;
  text-decoration: underline;
} */
/*******************End of Product Category*******************/
.toTop {
    opacity: 0;
    display: inline-block;
    background-color: rgb(37, 32, 24);
    color: white;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 1em;
    right: 10px;
    justify-self: end;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    z-index: 1000;
}
.toTop i{
  color: #28c275;
  text-align: center;
  padding: 3px 7px 5px 7px;
}
.toTop:hover,
main:hover + .toTop {
    opacity: 1;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*******************Best Seller*******************/
.bestSelle-wrapper
{
  padding:.3em 1em ;
  margin: .2em;
}
.bestSeller-box
{
  display:grid;
  grid-gap:15px;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.img_demo{
  background: white;
  text-align: center;
  padding: .5rem .5rem;
  height: 300px;
}
.img_demo > a
{
  color: black;
}
img.demo{
  width: 100%;
  height: 90%;
}

/*******************End of Best Seller*******************/


div.nav_footer_me {
    color: #ccc;
    background-color: #131A22;
    margin: 0;
    padding: 10px 0 10px;
  }
.link-footer1
{
  grid-area: link-footer1;
  font-size: 15px;
}
.link-footer2
{
  grid-area: link-footer2;
}
.link-footer3
{
  grid-area: link-footer3;
}
.link-footer4
{
  grid-area: link-footer4;
}
.link-footer5
{
  grid-area: link-footer5;
  font-size: 10px;
}
div.nav_footer_me > ul 
{
  display: grid;
  grid-template-areas: 
  'link-footer1 link-footer1 link-footer1'
  'link-footer2 link-footer3 link-footer4'
  'link-footer5 link-footer5 link-footer5';
}
.link-footer1 a
{
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.link-footer2 a , .link-footer3 a, .link-footer4 a {
  font-size: 10px;
  color: #ccc;
}

.nav_footer_sec1
{
  grid-area: sec1;
}
.nav_footer_sec2
{
  grid-area: sec2;
  display: none;
}
.nav_footer_sec3
{
  grid-area: sec3;
}

.nav_footer_above
{
  display: grid;
  grid-gap: 15px;
  grid-template-areas:
  'sec1 sec3'
  'sec2 sec2';
  padding:  10px 0 0 ;
  text-align: center;
}

.navFooterColHead
{
  color: #fff;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  
}
div.nav_footer_sec ul li a{
  color: #fff;
  font-size: 12px;
}



/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.listOf_items {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 17px;
  box-sizing: inherit;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;
}

.product_content h4, .price_item {
      color: brown;
      font-size: 20px;
}
.img_item {
      font-family: 'Open Sans', Arial, sans-serif;
      font-size: 17px;
      box-sizing: inherit;
      max-width: 130%;
      margin-bottom: 20px;
      width:100%;
      height: 250px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body > .form_container {
  width: 100%;
  height: 500px;
  padding: 60px;
  text-align: left;
  display: inherit;
}

body > div.sign-box {
  margin: 20px;
  text-align: left;
  width: 40%;
  height: 250px;
  background-color: white;
  justify-content: center;
}
.sign-box form#sign_form {
  padding: 35px;
  position: relative;
  width: 40%;
  text-align: left;
  box-sizing: border-box;
  border-width: 1px;
  border-style: groove;
  font-size: 13px;
  line-height: 19px;
  color: #111;
  font-family: Arial,sans-serif;
}
.sign-box form#sign_form input {
  width: 60%;
  padding: 6px 6px;
  margin: 8px 0;
  box-sizing: border-box;
  text-align: left;
  border-radius: 6px;
}

.button_form{
position: relative;
width: 100%;
padding: 11px 11px;
margin: 8px 0;
box-sizing: border-box;
text-align: center;
border-radius: 6px
}

/*//////////////////////////*/
.grid-container_product_page
{
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item{
  padding: 20px;
}
.form_container label{
  font-weight: bold;
}