*
{
    padding:0;
    margin:0;
    list-style: none;
    text-decoration: none;
}
header
{
    position: relative;
    height: auto;
    background-color: #232F3E;
}

body, html
{
  font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7rem;
    background-color: #e7e7ec;
    min-height: 100vh;
    overflow-x: auto;
}
main{
  min-height: 100%;
  padding: 16px 8px;
}
/* footer
{
    background-color: #333;
    text-align: center;
    height: auto;
    margin-top: -200px;
    clear: both;
    width: 100%;
    position: relative;
} */
footer
{
    background-color: #333;
    text-align: center;
    padding-top: 20px;
}

.nav_wrapper{
    width: 100%;
}
.nav_left{
  height: 50px;
}
/******************* Menu Bar *******************/
#menu_bar {
  position: fixed;
  left: -300px;
  width: 300px;
  height: 100%;
  background: #042331;
  transition: all .5s ease;
  z-index: 1;
}
#menu_bar header {
  line-height: 70px;
  background: #063146;
}
#menu_bar header a {
  font-size: 22px;
  color: white;
  line-height: 70px;
  padding-left: 60px;
  background: #063146;
  user-select: none;
}
#menu_bar header a i {
  margin-right: 14px;
}
#menu_bar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 60px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: all .2s ease;
}

#menu_bar ul li:hover a{
  padding-left: 100px;
}
#menu_bar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #open,label #cancel{
  position: absolute;
  background: #1f3b47;
  border-radius: 3px;
  border: 1px solid rgb(49, 140, 143);
  cursor: pointer;
}
label #open{
  left: 5px;
  top: 7px;
  font-size: 22px;
  color: white;
  padding: 7px 11px;
  transition: all .5s ease;
}
label #cancel{
  z-index: 1111;
  left: -250px;
  top: 10px;
  font-size: 22px;
  color: #0a5275;
  padding: 7px 11px;
  transition: all .5s ease;
}
#check:checked ~ #nav-logo
{
    top: -195px;
    transition: 0s;
}
#check:checked ~ #menu_bar{
  left: 0;
}
#check:checked ~ label #open{
  left: -250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 250px;
}
/******************* End of Menu Bar *******************/

/******************* Logo *******************/
#nav-logo{
    position: relative;
    left: 50px; 
    background-color: transparent;
    padding: 2px 0 1px 0;
    height: 45px;
    width: 100px;
    display: inline-block;
}
a.logo-links > img {
    max-height: 100%;
    max-width: 100%;     
}
a.logo-links > img:hover {
  border-style: solid;
  border-width: 1px;
  border-color: ivory;
}
/*******************End Of Logo *******************/
.nav-upperleft-right{
  position: relative;
  float: right;
  padding: 5px 20px 0 0;
}
#google_translate_element
{
  display:none;
}
.nav-upperleft-right a 
{
  color: #ccc;
}
.nav-upperleft-right ul li{
  display: none;
}
.nav-upperleft-right ul li:nth-child(3)
{
  display: initial;
}
.daily-deals{
    font-family: "Amazon Ember",Arial,sans-serif;
    text-align: end;
    display: none;
}
.daily-deals a h2 
{
    font-size: 20px;
    color: white;
    margin-right:40px;
    margin-bottom: 16px;
		font-family: "ubuntu";
		text-transform: uppercase;
		font-weight: 700;
		font-family: "Josefin Sans", sans-serif;
		background: linear-gradient(to right, #e72a3a 10%, #fff 50%, #5bdaff 60%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 1.5s linear infinite;
		display: inline-block;
}
@keyframes textclip {
	to {
		background-position: 200% center;
	}
}
hr{
  position: relative;
  margin: 4px 0 4px;
  border: none;
  height: 1px;
}
/*******************Search Bar*******************/
.search-nav-wrapper {
  width: 100%;
}
.search-nav-wrapper form{
  display: flex;
}
.search-nav-wrapper input[type=text] {
  width: 78%;
  font-size: 17px;
  height: 20px;
  border-right: none;
  outline: none;
  margin-left: 10px;
  padding: 6px;
  border-radius: 5px 0 0 5px;
}

.search-nav-wrapper button {
  width: 50px;
  border: 1px solid rgb(247, 247, 247);
  background: rgb(174, 206, 110);
  text-align: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.search-nav-wrapper button:hover {
  background: #ccc;
}
/*******************End of Search Bar*******************/
div.nav_right > nav > ul
{
  overflow: auto;
  white-space: nowrap;
}
/*******************Main-Nav*******************/
/*Hide scrollbar but keep functionality - For Chrome, Safari, Opera*/
div.nav_right > nav > ul::-webkit-scrollbar
{
  display: none;
}

nav > ul > li{
  display: inline-block;
}
div.nav_right > nav > ul > li > a {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    list-style: none;
    transition: all .7s ease;
    text-align: center;
    font-weight: 500;
    cursor: pointer;    
    line-height: 25px;
    margin-top: -5px;
    padding: 10px;
    color:#ccc;
} 
nav > ul > li:hover {
    background-color: rgb(7, 100, 131);
    margin-right: 2px;
}
nav > ul > li > a 
{
    color:#fff;
    text-decoration: none;
    display: block;
}
/*******************End of Main-Nav*******************/



  
 

/*banner*/
.banner-wrapper-prime
{
  position: relative;
  padding: 0;
  background-color: #37475A;
}

.banner_title, #best_sell_heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 15px;
    padding: 5px 0 5px 30px;
    position: relative;
		text-transform: uppercase;
		font-weight: 700;
		background: linear-gradient(to right, #bcbe16 40%, rgb(233, 76, 14) 50%, #1eaeb3 60%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 3s linear infinite;
		display: inline-block;
}
/*******************Slide show*******************/
.slideshow-container {
    position: relative;
    margin: auto;
    left: 0;
    width: 100%;
  }
div.mySlides a img
{
    width: 100%;
    object-fit: cover;
}
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
/*******************End of Slide show*******************/

/*******************Product Category*******************/
  .category_container
  {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    position: relative;
    padding: 0 5px 0 5px;
    
  }
 .box{
    box-shadow: 0 1px 5px rgba(104,104,104,0.8);
    background: whitesmoke;
    text-align: center;
    padding: .5rem .5rem;
    
 }
 .box img{
   max-width: 100%;
 }
 .banner-wrapper-product{
  position: relative;
  padding: 5px 0 5px 5px;
  overflow: hidden;
 }


/*******************End of Product Category*******************/
.toTop {
    opacity: 0;
    display: inline-block;
    background-color: rgb(37, 32, 24);
    color: white;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 1em;
    right: 10px;
    justify-self: end;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    z-index: 1000;
}
.toTop i{
  color: #28c275;
  text-align: center;
  padding: 3px 7px 5px 7px;
}
.toTop:hover,
main:hover + .toTop {
    opacity: 1;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*******************Best Seller*******************/
.bestSeller-wrapper
{
  padding:.3em 1em ;
  margin: .2em;
  display:grid;
  grid-gap:15px;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.img_demo{
  background: white;
  text-align: center;
  padding: .5rem .5rem;
  height: 300px;
}
.img_demo > a
{
  color: black;
}
img.demo{
  width: 100%;
  height: 90%;
}

/*******************End of Best Seller*******************/

/*******************Footer*******************/
div.nav_footer_me {
    color: #ccc;
    background-color: #131A22;
    margin: 0;
    padding: 10px 0 10px;
  }
  .nav_footer_me ul li:hover
  {
    text-decoration: underline;
  }
.link-footer1
{
  grid-area: link-footer1;
  font-size: 15px;
}
.link-footer2
{
  grid-area: link-footer2;
}
.link-footer3
{
  grid-area: link-footer3;
}
.link-footer4
{
  grid-area: link-footer4;
}
.link-footer5
{
  grid-area: link-footer5;
  font-size: 10px;
}
div.nav_footer_me > ul 
{
  display: grid;
  grid-template-areas: 
  'link-footer1 link-footer1 link-footer1'
  'link-footer2 link-footer3 link-footer4'
  'link-footer5 link-footer5 link-footer5';
}
.link-footer1 a
{
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.link-footer2 a , .link-footer3 a, .link-footer4 a {
  font-size: 10px;
  color: #ccc;
}

.nav_footer_sec1
{
  grid-area: sec1;
}
.nav_footer_sec2
{
  grid-area: sec2;
  display: none;
}
.nav_footer_sec3
{
  grid-area: sec3;
}
.nav_footer_sec4
{
  grid-area: sec4;
  display: none;
}
.nav_footer_above
{
  display: grid;
  grid-gap: 15px;
  grid-template-areas:
  'sec1 sec3'
  'sec2 sec2';
  grid-template-columns: repeat(2, 1fr);
  padding:  10px 0 0 10px;
  text-align: left;
}

.navFooterColHead
{
  color: #fff;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
div.nav_footer_sec ul li a{
  color: #fff;
  font-size: 12px;
}
/*******************End of Footer*******************/

/*////////////////////////////////////////////////////*/

.detail_product
{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr;
  width: 100%;
  align-content: space-evenly;
}
.product-grid-box
{
  position: relative;
  top: 0;
  left: 0;
  width: 90%;
  height: 425px;
}
.bold
{
  font-size: 14px;
  font-weight: bold;
  color: black;
}
.product_content
{
  margin:auto;
  position: relative;
  background-color:white;
  line-height: initial;
  width: 80%;
  color: rgb(110, 32, 32);
  font-size: 14px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.img_item {
   height: 200px;
   max-width: 100%;
}
.product_content:hover
{
  transform: scale(1.2);
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.error{
  color:red;
  font-size: small;
  }

.form_container {
  position: relative;
  min-width: 350px;
  padding: .5rem;
}
.sign-box {
  margin: auto;
  text-align: left;
  width: 100%;
  background-color: white;
  justify-content: center;
  border: 1px solid;
  line-height: 1.5rem;
}
.sign-box form
{
  padding: 5%;
  width: 80%;
  
}

.sign-box input {
  width: 100%;
  padding: 6px 6px;
  margin: 8px 0;
  border-radius: 6px;
}

.button_form{
position: relative;
width: 100%;
padding: 11px 11px;
margin: 8px 0;
box-sizing: border-box;
text-align: center;
border-radius: 6px
}

/*//////////////////////////*/

.form_container label{
  font-weight: bold;
}
/*******************Media Queries for Tablet*******************/
@media only screen and (min-width: 768px) {
  .detail_product
{
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 8%;
  width: 100%;
  align-content: space-evenly;
}
  html, body {
    width: 100%;
  }
  .search-nav-wrapper
  {
    width: 45%;
    position: relative;
    top: -44px;
    left: 140px;
  }

  .search-nav-wrapper input[type=text]
  {
    width: 100%;
  }
  .nav-upperleft-right
  {
    padding-right: 20px;
  }
  .nav-upperleft-right ul li{
    display: inline-block;
    text-transform: uppercase;
  }

  .nav_right
  {
    position: relative;
    margin-top: -25px;
  }
  nav > ul > li:nth-child(8)
  {
    display: none;
  }
  .daily-deals
  {
    display: inline-block;
  }
  hr{
    display: none;
  }
  .bestSeller-wrapper
  {
    display:grid;
    grid-template-columns:repeat(2,1fr);
  }
  .nav_footer_above
  {
    grid-gap: 0;
    grid-template-areas:
    'sec1 sec2 sec3 sec4';
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 20px;
  }
  .nav_footer_sec
  {
    padding-left: 20px;
  }
  .navFooterColHead
  {
    font-size: 12px;
  }
  div.nav_footer_sec ul li
  {
    width: 120px;
    word-wrap: break-word;
  }
  div.nav_footer_sec ul li a
  {
    color: #ccc;
  }
  .nav_footer_sec2, .nav_footer_sec4
  {
    display: initial;
  }
  .sign-box
  {
    width: 60%;
  }
}
/*******************Media Queries for Laptop*******************/
@media only screen and (min-width: 1000px) {
  .search-nav-wrapper
  {
    width: 55%;
    top: -44px;
    left: 15%;
  }
  .search-nav-wrapper input[type=text]
  {
    width: 100%;
  }
  .nav-upperleft-right
  {
    padding-left: 10%;
  }
  .nav_right
  {
    text-align: center;
  }
  div.nav_right > nav > ul > li > a
  {
    font-size: 18px;
  }
  nav > ul > li:nth-child(10)
  {
    float: right;
  }
  .nav-logo
  {
    width: 120px;
  }
  div.mySlides a img
  {
    height: 600px;
  }
  .category_container
  {
    width: 100%;
    grid-gap: 10px;
    height: 350px;
    position: absolute;
    top: 490px;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0;
  }
  .category_container .box{
    max-height: 250px;
    padding: auto 0;
    box-shadow: none;
    border-radius: 5px;
    background-color: rgb(234, 241, 245);
  }
  .category_container .box a img {
    border-radius: 5px;
    max-height: 80%;
  }
  .category_container .box a p
  {
    display: none;
  }
  .category-banner
  {
    display: none;
  }
  .bestSeller-wrapper{
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  }
  .navFooterColHead
  {
    font-size: 15px;
  }
  .nav_footer_sec ul li 
  {
    font-size: 12px;
  }
  .nav_footer_me ul li a
  {
    font-size: 12px;
  }
  .nav_footer_me ul li:nth-child(1)
  {
    font-size: 15px;
  }
  div.nav_footer_me > ul
  {
    display: inline-block;
  }
  .nav_footer_me > ul > li:nth-child(2),.nav_footer_me > ul > li:nth-child(3), .nav_footer_me > ul > li:nth-child(4)
  {
    display: inline-block;
    padding-left: 20px;
  }
  .grid-item-box
  {
    height: 350px;
  }
  .sign-box
  {
    width: 35%;
  }
}
@media only screen and (min-width: 1400px) {
  .search-nav-wrapper
  {
    width: 60%;
    top: -44px;
    left: 12%;
  }
  .search-nav-wrapper input[type=text]
  {
    width: 100%;
  }

  .nav-upperleft-right ul li
  {
   display: inline-block;
   font-size: 15px;
   letter-spacing: 2px;
   padding-right: 1em;
   text-transform: uppercase;
  }
  #nav-logo{
    height: 60px;
  }
  .sign-box
  {
    width: 30%;
  }
}

.dashboard_area
{
  background-color: rgb(182, 193, 199);
  text-align: center;
  padding: 20px;
  margin-bottom: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
}

.controlsec
{
  background-color: rgb(29, 135, 137);
  display: inline-block;
  padding: 10px;

}
.dashboard_area a:visited
{
  color: blue;
}
.controlsec:hover
{
  background: rgba(0,0,0,0);
	color: #195878;
	box-shadow: inset 0 0 0 3px #3a7999;
}

#selectCat
{
  position: relative;
  font-family: Arial;
  background-color: rgb(22, 75, 125);
  color: white;
}
.product_category > form > input
{
  color: white;
  background-color: rgb(22, 75, 125);
}
.product_category
{
  padding-top: 20%;
  text-align: center;
}

.box_pdetail
{
  text-align: center;
  line-height: 1.8rem;
}
.img-fluid
{
  max-width: 80%;
}
.form-check-input
{
 float: right;
}
.form_check
{
  height: 30px;
}
.table
{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}
.media img
{
  max-width: 100%;
  vertical-align: middle;
}
.media
{
  display: inline-block;
  height: 100%;
}
.table td
{
  width:200px; 
  text-align:center; 
  border:1px solid black; 
  padding:5px 
}
